.header {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 2em 1em;
  align-items: center;
}

.hamburger {
  background: #15242b;
  border: none;
  color: white;
  padding: 1em;
  border-radius: 1em;
}
