.header {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 2em 1em;
  align-items: center;
}

.hamburger {
  background: white;
  border: none;
  color: black;
  padding: 1em;
  border-radius: 1em;
  transition: background-color 0.1s ease-in, transform 0.1s ease-out;
}

.hamburger:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

button:hover {
  filter: brightness(125%);
  transform: scale(1.03);
}

button:active {
  transform: scale(0.98);
}
