<div class="brands">
  <div class="title">
    <h1>Branduri cu care colaboram</h1>
    <p>
      Colaborăm cu branduri care vor să se facă remarcate prin video și
      marketing creativ – rezultate vizibile, povești memorabile.
    </p>
  </div>
  <div class="brand-list">
    <!-- <div class="slider">
      <div class="slide-track">
        @if (isDesktop) { @for (img of brands; track $index) {
        <div class="slide">
          <img src="{{ img }}" height="100" width="250" alt="" />
        </div>
        } } @else { @for (img of brands; track $index) {
        <div class="slide">
          <img src="{{ img }}" height="100" width="250" alt="" />
        </div>
        } @for (img of brands; track $index) {
        <div class="slide">
          <img src="{{ img }}" height="100" width="250" alt="" />
        </div>
        } }
      </div>
    </div> -->

    @if (isDesktop) {
    <div class="brand-desktop">
      <div class="brand-img">
        @for (img of brands; track $index) {
        <div class="slide">
          <img src="{{ img }}" height="100" width="250" alt="" />
        </div>
        }
      </div>
    </div>
    } @else {
    <div class="slider">
      <div class="slide-track">
        @for (img of brands; track $index) {
        <div class="slide">
          <img src="{{ img }}" height="100" width="250" alt="" />
        </div>
        } @for (img of brands; track $index) {
        <div class="slide">
          <img src="{{ img }}" height="100" width="250" alt="" />
        </div>
        }
      </div>
    </div>
    }
  </div>
</div>
