<div class="brands">
  <div class="title">
    <h1>Branduri cu care colaboram</h1>
    <p>
      Colaborăm cu branduri care vor să se facă remarcate prin video și
      marketing creativ – rezultate vizibile, povești memorabile.
    </p>
  </div>
  <div class="brand-list">
    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <img src="tutti.jpg" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="leaderImpact.jpg" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="baniiFamiliei.jpg" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="depUtilaje.jpg" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="aliniere.jpg" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="inspirium.jpg" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="baurent.jpg" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="tutti.jpg" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="leaderImpact.jpg" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="baniiFamiliei.jpg" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="depUtilaje.jpg" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="baurent.jpg" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="aliniere.jpg" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="inspirium.jpg" height="100" width="250" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
