<div class="brands">
  <div class="title">
    <h1>Branduri cu care colaboram</h1>
    <p>
      Colaborăm cu branduri care vor să se facă remarcate prin video și
      marketing creativ – rezultate vizibile, povești memorabile.
    </p>
  </div>
  <div class="brand-list">
    <ul>
      <div class="row">
        <li>Brand</li>
        <li>Brand</li>
      </div>
      <div class="row">
        <li>Brand</li>
        <li>Brand</li>
      </div>
      <div class="row">
        <li>Brand</li>
        <li>Brand</li>
      </div>
      <div class="row">
        <li>Brand</li>
        <li>Brand</li>
      </div>
    </ul>
  </div>
</div>
