<div class="services">
  <div class="title">
    <h1>Services</h1>
    <p>
      I offer a range of services to meet your video production needs, from
      initial concept development to post-production editing and final delivery.
    </p>
  </div>
  <div class="service-list">
    <div class="service-item">
      <img src="" alt="" />
      <h2>Pachet 1</h2>
      <p>Pachetul nostru basic include:</p>
      <ul>
        <li>10 reels</li>
        <li>20 de promovari</li>
        <li>bla</li>
        <li>blabla</li>
        <li>blabalba</li>
        <li>bla</li>
      </ul>
    </div>
    <div class="service-item">
      <img src="" alt="" />
      <h2>Pachet 2</h2>
      <p>Pachetul nostru basic include:</p>
      <ul>
        <li>10 reels</li>
        <li>20 de promovari</li>
        <li>bla</li>
        <li>blabla</li>
        <li>blabalba</li>
        <li>bla</li>
      </ul>
    </div>
    <div class="service-item">
      <img src="" alt="" />
      <h2>Pachet 3</h2>
      <p>Pachetul nostru basic include:</p>
      <ul>
        <li>10 reels</li>
        <li>20 de promovari</li>
        <li>bla</li>
        <li>blabla</li>
        <li>blabalba</li>
        <li>bla</li>
      </ul>
    </div>
  </div>
</div>
