<div class="form-style">
  <div class="title" id="contact">
    <h1>Get In Touch</h1>
    <p>Have a project in mind? Let's talk</p>
  </div>

  <form [formGroup]="myForm" class="form-shape">
    <input type="text" placeholder="Your Name" formControlName="name" />
    <input type="text" placeholder="Your Email" formControlName="email" />
    <textarea
      placeholder="Your Message"
      name=""
      id=""
      formControlName="message"
    ></textarea>
    <button [disabled]="myForm.invalid" (click)="onSend($event)">
      Send Message
    </button>
  </form>
</div>
